.item {
    overflow: hidden;
    cursor  : pointer;
}

.layer {
    position: absolute;


    bottom          : -100%;
    left            : 15px;
    right           : 15px;
    background-color: #fff;
    text-align      : center;
    transition      : bottom 1s;
}

.item:hover .layer {
    bottom: 15px;
}

#outerBox {
    position: fixed;
    top     : 0;
    bottom  : 0;
    left    : 0;
    right   : 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

#innerBox{
    width: 50%;
    height: 500px;
    background-image: url(../images/portfolio-1.jpg);
    background-size: cover;
}

#innerBox i{
    cursor: pointer;
    font-size: 30px;
}



@media all and (max-width:499px){
    #outerBox {
        position: fixed;
        top     : 0;
        bottom  : 0;
        left    : -35%;
        right   : -35%;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        justify-content: center;
        align-items: center;
    }
}